:root{
    --round-corner-radius:20px;
    --white: #EEE8FD;
    --primary: #8A62F2;
    --secondary: #4523A6;
    --black: #010314;
    --transparent: rgba(0, 0, 0, 0);

    
}

*{
    box-sizing: border-box;
}



body {
    background-image: radial-gradient(closest-side at 60% 25%, #3f4263, #313347, #1d1f2e, var(--black));
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.section{
    width: 100%;
    padding: 30px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

#section1 {
    border-radius: 0rem 0rem 7.875rem 7.875rem;
    background: radial-gradient(192.1% 114.75% at 19.13% 14.9%, #010314 51.15%, #4523A6 72.54%, #EEE8FD 100%);
    flex-direction: row !important;
}

.droneImage {
    position: relative;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: brightness(40%);
    filter: saturate(150%);
    filter: blur(px);
    left: 100px;
    
    
}



#cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  




}

.card {
    width: 260px;
    height: 300px;
    border-radius: var(--round-corner-radius);
    border: 2px solid rgb(54, 50, 50);
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: 0.5s;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    padding: 20px;
    background-position: center;
    background-size: cover;
    filter: grayscale();
}

a {

    text-decoration: none;
}

.card1 {
    background-image: url("goggles\ v2.jpeg");
    /* height: 300px; */

}

.card2 {
    background-image: url("fpvdrone.jpg");
    /* height: 300px; */

}

.card3 {
    background-image: url("controller.jpg");
    /* height: 300px; */
}

.card4 {
    background-image: url("smoke.jpg");
    /*height: 300px;*/
}

.card:hover {
    transform: translateY(-10px);
    opacity: 100%;
    border: 2px solid rgba(218, 213, 213, 0.55);
    filter: grayscale(0);


}

.title {
    display: flex;
    font-size: 2rem;
    color: var(--black);
    text-align: left;
    cursor: default;
    z-index: 1;
    width: 570px;
    padding: 40px;
}

.title > h1 > span:hover{
    color: rgba(218, 213, 213, .0);
    -webkit-text-stroke: 2px var(--white);
    transform: rotate(20deg);
    animation: upAndRotate 0.3s ease-in-out forwards;


}

.title > h1 > span{
    display: inline-block;
    -webkit-text-stroke: 2px rgba(0, 0, 0, .0);
    transition-duration:0.3s;

    
}

@keyframes upAndRotate {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-4px) rotate(1deg);
    }

    
    100% {
        transform: translateY(-4px) rotate(2deg);
    }

}


#video-container{
    width: 80%;
    overflow: hidden;
    opacity: 70%;  


      
}

video {
    width: 100%;
    object-fit: fill;
    border-radius: var(--round-corner-radius);
}


@media only screen and (max-width: 600px) {
    .title {
        
        font-size: 1rem;
        
    }
} 