@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

:root {
  --round-corner-radius: 2.8rem;
  --white: #EEE8FD;
  --primary: #8A62F2;
  --secondary: #4523A6;
  --black: #010314;
  --transparent: rgba(0, 0, 0, 0);


}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



#maincontainer{
  display: flex;
  width: 300vw;
  
flex-direction: column;  

}


.section{
  width: 100%;
  height: 100vh;
  overflow-x: hidden !important;

}

.se1{
  position: absolute;
  left: 0vw;
}
.se2{
  position: absolute;
  left: 100vw;
}
.se3{
  position: absolute;
  left: 200vw;
}

#buttonRightSection1{
 position: relative;
 top: 80%;
 left: 35vw;
}