@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

:root {
  --round-corner-radius: 2.8rem;
  --white: #EEE8FD;
  --primary: #8A62F2;
  --secondary: #4523A6;
  --black: #010314;
  --transparent: rgba(0, 0, 0, 0);


}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}






body {
  background-color: var(--black);
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  overflow-x: hidden;
  text-decoration: none;
  border: none;
}




.section {
  width: 100%;
  padding-top: 0px;
  margin-bottom: 20rem;
  -webkit-text-fill-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;


}


@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidecolor {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    color: var(--black);
  }

  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    color: var(--black);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    color: var(--white);
  }
}







.noepenn span {
  opacity: 0;
}


.noepenn {

  animation-name: slide-in-top;
  animation-direction: reverse;
  animation-duration: 3s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}


#noepenndown {
  position: absolute;
  animation-name: slidecolor;
  animation-direction: normal !important;
  animation-duration: 3.3s;
  animation-delay: 1ms;
  margin: 0;

}

h1 {
  line-height: normal;
  z-index: 4;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;


}



#myName {
  display: flex;
  color: var(--black);
  position: absolute;
  left: 50%;
  z-index: 4;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  border-radius: var(--round-corner-radius);
  background: rgba(217, 217, 217, 0.00);
  backdrop-filter: blur(5px);
  padding: 0px 20px 0px 20px;
  height: 10vh;
  box-shadow: 50px 50px 113px #06033300 inset, -50px -50px 110px rgba(238, 233, 233, 0.541) inset;

}


@keyframes box1 {
  from {
    transform: translateY(0)
  }

  20% {
    transform: translateY(0%)
  }

  100% {
    transform: translateY(-100%)
  }


}

.textcrop {
  position: fixed;
  width: 100%;
  height: 45%;
  flex-shrink: 0;
  background: var(--white);
  z-index: 6;
  animation-name: box1;
  animation-delay: 1.5s;
  animation-duration: 5.3s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

.box1 {


  position: fixed;
  width: 100%;
  height: 110%;
  flex-shrink: 0;
  background: var(--white);
  z-index: 3;
  animation-name: box1;
  animation-delay: 1.5s;
  animation-duration: 5.3s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}


.video-container {
  height: 100vh;
  width: 100vw;
  display: block;
  overflow: hidden !important;

}

.video1 {
  height: 100vh;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.vignette {
  position: absolute;
  width: 100vw;
  z-index: 2;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(180deg, rgba(46, 46, 46, 0) 79%, var(--black) 100%);
}


.pattern {
  position: absolute;
  height: 50vh;
  width: 50vw;
  left: 5vw;
  top: 100vh;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.8;
  background-image: linear-gradient(#8A62F2 2px, transparent 2px), linear-gradient(90deg, #8b62f28f 2px, transparent 2px);
  background-position: -.2rem, -.2rem, -.2rem, -.2rem;
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  border-radius: var(--round-corner-radius);


}


.opacityVignette {
  background: radial-gradient(100% 100% at 40% 40%, var(--transparent) 20%, var(--black) 80%);
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}


#cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 4;
  /*This is a comment*/
}

.card {
  width: 260px;
  height: 300px;
  border-radius: var(--round-corner-radius);
  border: 2px solid var(--secondary);
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 0.5s;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  background-color: var(--white);
  padding: 20px;
  background-position: center;
  background-size: cover;
  filter: grayscale();
  margin-bottom: 20px;
}

a {

  text-decoration: none;
}

.card1 {
  background-image: url("fpvdrone.jpg");
  /* height: 300px; */

}

.showOnHoverCard1 {
  display: none;
}

@keyframes opacityChange {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}



.card1:active,
.card1:hover+.showOnHoverCard1 {
  animation-name: opacityChange;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  display: block;
  justify-content: center;
  text-align: center;
  width: 80vw;
  font-size: 20px;
  font-weight: 700;
  color: #010314;
  margin-bottom: 2vh;
}

.card2 {
  background-image: url("Gopro.JPG");
  /* height: 300px; */

}


.card3 {
  background-image: url("pictureofme.png");
  /* height: 300px; */
}

.showOnHoverCard3 {
  display: none;
}

.card3:active,
.card3:hover+.showOnHoverCard3 {
  animation-name: opacityChange;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  display: block;
  justify-content: center;
  text-align: center;
  width: 80vw;
  font-size: 20px;
  font-weight: 700;
  color: #010314;
  margin-bottom: 2vh;
}
.card4 {
  background-image: url("smoke.jpg");
  /*height: 300px;*/
}

.card:hover {
  transform: translateY(-10px);
  opacity: 100%;
  border: 2px solid rgba(218, 213, 213, 0.55);
  filter: grayscale(0);


}

.title {
  display: flex;
  font-size: 2rem;
  color: var(--white);
  text-align: left;
  cursor: default;
  z-index: 1;
  width: 570px;
  padding: 40px;
}

.title>h1>span:hover {
  color: rgba(218, 213, 213, .0);
  -webkit-text-stroke: 2px var(--white);
  transform: rotate(20deg);
  animation: upAndRotate 0.3s ease-in-out forwards;


}

#section3 {
  top: 0%;
}






@media only screen and (max-width: 600px) {

  .card {
    filter: none;

  }



  h1 {
    font-size: 4rem;
  }

  .title {
    font-size: 1rem;
  }

  .video1 {


    height: 100%;

  }

  .pattern {
    width: 80vw;
    height: 80vh;
  }
}